body,navbar
    {
        direction: rtl;
        text-align: right;
    }
    .navbar {
        margin-bottom: 0;
    }
    
    .navbar-brand {
        font-family: "Pacifico";
    }
    
    .jumbotron .container h1 {
        font-family: "Pacifico";
        font-size: 4em; 
    }
    .container{
        margin-top: 15px;
    }
    .user-form{
        width: 40%;
    }
    .date{
        margin-right: 20%;
    }