users page <br>
<a class="btn btn-default btn-lg" ng-click="proc=false;">הוספת משתמש</a>
<a class="btn btn-default btn-lg" ng-click="proc=true;">עדכון משתמש</a>
<div ng-show="proc" class="container ">
    <select >
        <option value="">בחר משתמש</option>
        <option ng-repeat="user in users" ng-value="{{user.firstName}}">{{user.firstName}}</option>
    </select>
</div>


<div ng-show="!proc" class="container">
        <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="fsname">שם פרטי :</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control"   id="fsname" placeholder="Enter first name" ng-model="tmp.firstName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="lnm">שם משפחה :</label>
                    <div class="col-sm-10">
                        <input type="texe" class="form-control" id="lnm" placeholder="Enter last name" ng-model="tmp.lastName">
                    </div>
                </div>
                <div class="form-group">
                        <label class="control-label col-sm-2" for="eml">דואר אלקטרוני</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="eml" placeholder="Enter email" ng-model="tmp.email">
                        </div>
                </div>
                <div class="form-group">
                            <label class="control-label col-sm-2" for="pwd">סיסמה :</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="pwd" placeholder="הזן סיסמה" ng-model="tmp.password">
                            </div>
                </div>
                <div class="form-group">
                        <label class="control-label col-sm-2" for="rpwd">אימות סיסמה :</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="rpwd" placeholder="חזר על הסיסמה" ng-model="password">
                        </div>
                </div>
                <div class="form-group">
                        <label class="control-label col-sm-2" for="mng">מנהל כן/לא:</label>
                        <div class="col-sm-10">
                            <input type="checkbox" class="form-control" id="mng" placeholder="" ng-model="tmp.manager">
                        </div>
               </div>
               
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="summit" class="btn btn-default pull-right" ng-click="add()">הוסף</button>
                    </div>
                </div>
            </form>
</div>
{{tmp.firstName + " " +tmp.lastName}} <br>
{{tmp.email}} <br>
{{tmp.password}} <br>
{{password}} <br>
{{tmp.manager}}
