<!--<nihol-navbar></nihol-navbar>-->
<div class="jumbotron">
<div class="container">
    <h4 class="date">{{ddd |date:'yyyy-MM-dd HH:mm:ss '}}</h4>
    <h2>עמוד ראשי</h2>
<h3>{{x +" "+ name}}</h3>
<br>{{"Manager :" + manager}}
</div>
</div>

<a class="btn btn-default btn-lg" ng-click="logout()">Logout</a>
<a class="btn btn-default btn-lg" ng-click="sales()">מכירות</a>
<a class="btn btn-default btn-lg" ng-click="store()">קליטת מלאי</a>
<a class="btn btn-default btn-lg" ng-click="addItem()">הוספת פריט</a>
<a ng-show="manager" class="btn btn-default btn-lg" ng-click="manageUsers()">ניהול משתמשים</a>
<div  class="container">
    
</div>


